<!DOCTYPE html>
<html ng-app='store-front'>
  <head>
    <meta charset="utf-8" />
    <title>Shelf.ie</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />

  </head>
  <body ng-controller='storeController' background="asset/cork-wallet.png">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>

    <script src="app/app.js"></script>
    <script src="app/manage/manage.js"></script>
    <script src="app/store/store.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/Auth/auth.js"></script>

    <div class='main'>
      <h4>{{ info.brand }}</h4>

      <div class='items'>
        <div ng-repeat='item in data' id='{{ item.itemId }}' class='item' ng-click=''>
          <img src='{{ item.galleryURL }}'/>
          <a href="{{ item.viewItemURL }}" class='title'><br/>{{item.title}}</a>
        </div>
      </div>
    </div>

  </body>
</html>